{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/bin/sh",
          "-c",
          "ln -sf /usr/share/cowsay/cows/${IMAGE:-default}.cow /usr/share/cowsay/cows/default.cow && /usr/games/cowsay \"$MESSAGE\""
        ],
        "EnvironmentVariables": [
          {{ if .Image }}"{{ subst "IMAGE=%s" .Image }}",{{else}}"IMAGE=lilypad",{{ end }}
          {{ if .Message }}"{{ subst "MESSAGE=%s" .Message }}"{{else}}"Message=Hello World"{{ end }}
        ],
        "Image": "public.ecr.aws/k8m6l9n3/lilysay:latest@sha256:a8dc7aa48cb27af19d38c69b496c3c967e1d4fdee40e3b97d27b27cb87b40878"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
